window {
	font-family: FiraCode Nerd Font;
	font-size: 16pt;
	background-color: rgba(30, 30, 46, 0.6);
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	border-radius: 30px;
	border: none;
    margin: 10px;
    text-shadow: none;
    box-shadow: none;
    color: #cdd6f4; /* text */
}

/* button:focus {
	background-size: 50%;
} */

button:hover {
	color: #1e1e2e;
	background-size: 50%;
	background-color: rgba(200, 220, 255, 0.5);
}

#lock {
	background-image: image(url("./icons/lock.png"));
}
#lock:hover {
	background-image: image(url("./icons/lock-hover.png"));
}

#logout {
	background-image: image(url("./icons/logout.png"));
}
#logout:hover {
	background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
	background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
	background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
	background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
	background-image: image(url("./icons/power-hover.png"));
}

#reboot {
	background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
	background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
	background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
	background-image: image(url("./icons/hibernate-hover.png"));
}
