configuration {
  font: "FiraCode Nerd Font Propo 12";
  dpi: 96;
  display-drun: "";
  show-icons: true;
  icon-theme: "WhiteSur";
  drun-display-format : "{name}";
  application-fallback-icon: "/etc/profiles/per-user/zone/share/icons/WhiteSur/apps/scalable/application-default-icon.svg";
}
@theme "fancy2"