.btm-bar .volume-panel scale {
  trough {
    min-height: 0.5em;
    min-width: 5em;
    margin: 0 0.5em 0 0.5em;
  }
}

.btm-systray {
  widget {
    border-radius: 0.5em;
    image {
      padding: 0.5em;
    }
  }
}

.btm-bar .taskbar {
  button {
    // border-radius: 0;
    // margin-left: 0.2em;
    margin-right: 0.2em;
  }
  button:hover {
    background-color: rgba($overlay2, 1);
  }
  .active {
    background-color: rgba($surface2, 1);
  }
  image {
    -gtk-icon-theme: "WhiteSur";
  }
}