$en-font: "FiraCode Nerd Font Propo";
$zh-font: "Sarasa UI SC";
$font-size: 17px;
@import "./style";
@import "./top-bar.scss";
@import "./side-bar.scss";
@import "./apps.scss";

* {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  border-radius: inherit;
  color: inherit;
}

window.background {
  background-color: transparent;
}

button {
  border-radius: 0.5em;
  &:hover {
    background-color: rgba($surface2, 1);
    color: rgba($sapphire, 1);
  }
}

tooltip {
  background-color: rgba($surface1, 1);
}

scale {
  font-family: $zh-font;
  &:hover trough {
    background-color: rgba($surface2, 1);
  }
  trough {
    background-color: rgba($surface1, 1);
    highlight {
      background-color: rgba($sapphire, 1);
    }
  }
}

scrollbar {
  background-color: rgba($surface1, 1);
  margin: 0.5em;
  padding: 0.1em;
  &:hover {
    background-color: rgba($surface2, 1);
  }
  slider {
    background-color: rgba($sapphire, 1);
    padding: 0.23em;
  }
}
undershoot {
  background-color: transparent;
}
overshoot {
  background-color: transparent;
}

// calendar
.calendar-win,
tooltip {
  border-radius: 0.5em;
  background-color: rgba($surface0, 1);
  font-family: $zh-font;
  font-size: $font-size;
  color: rgba($text, 1);
  padding: 0.3em;
  &:selected {
    color: rgba($red, 1);
  }
}

// horizon widget
.horizon-end {
  padding-left: 0.5em;
  margin-left: 0.5em;
  background-color: rgba($surface0, 1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.horizon-separator {
  font-family: $zh-font;
  margin: 0 0.5em 0 0.5em;
  color: rgba($overlay2, 1);
}

// vertical widget
.vertical-end {
  padding-top: 0.5em;
  margin-top: 0.5em;
  background-color: rgba($surface0, 1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
