box.side-bar {
  button {
    padding: 0.3em;
    label {
      padding: 0.3em;
    }
  }
}

.taskbar {
  button:hover {
    background-color: rgba($overlay2, 1);
  }
  .active {
    background-color: rgba($surface2, 1);
  }
  image {
    -gtk-icon-theme: "WhiteSur";
  }
}

.side-bar .volume-panel scale {
  font-family: $zh-font;
  trough {
    min-height: 5em;
    min-width: 0.5em;
    margin: 0.5em 0 0.5em 0;
  }
}

.side-time {
  font-family: $en-font;
  font-weight: bolder;
  box {
    margin: 0.2em 0 0.2em 0;
  }
  .hour {
    color: $flamingo;
  }
  .minute {
    color: $flamingo;
  }
}

.side-systray {
  background-color: rgba($surface0, 1);
  margin-top: 0.5em;
  padding: 0.5em 0 0.5em 0;
  image {
    padding: 0.5em;
  }
}

.side-bar .powermenu {
  color: rgba($flamingo, 1);
  button:hover {
    color: rgba($red, 1);
  }
}
