box.side-bar {
  font-family: $en-font;
  font-size: $font-size;
  color: rgba($text, 1);
  background-color: rgba($base, 1);
  border-width: 0.5em 0 0.5em 0;
  border-style: solid;
  border-radius: 0.5em;
  border-top-color: rgba($base, 1);
  border-bottom-color: rgba($surface0, 1);
  label {
    padding: 0.7em 0 0.7em 0;
  }
}

.taskbar {
  button {
    padding: 0.3em;
  }
  button:hover {
    background-color: rgba($overlay2, 1);
  }
  .active {
    background-color: rgba($surface2, 1);
  }
  image {
    -gtk-icon-theme: "WhiteSur";
  }
}

.volume-panel scale {
  trough {
    min-height: 5em;
    min-width: 0.5em;
    margin: 0.5em 0 0.5em 0;
  }
}

.side-time {
  font-family: $en-font;
  font-weight: bolder;
  box {
    margin: 0.2em 0 0.2em 0;
  }
  .hour {
    color: $flamingo;
  }
  .minute {
    color: $flamingo;
  }
}

.side-systray {
  background-color: rgba($surface0, 1);
  margin-top: 0.5em;
  padding: 0.5em 0 0.5em 0;
  image {
    padding: 0.5em;
  }
}

.side-bar .powermenu {
  color: rgba($flamingo, 1);
  button:hover {
    color: rgba($red, 1);
  }
}

.side-systray window.popup {
  background-color: rgba($surface0, 1);
  decoration {
    padding: 0.3em;
    border-radius: 0.5em;
    border: 0.2em solid rgba($surface1, 1);
  }
  menu {
    menuitem {
      &:hover {
        background-color: rgba($surface2, 1);
      }
      border-radius: 0.3em;
      margin: 0.2em;
      check,
      radio {
        margin-left: 0.5em;
        margin-right: 0.5em;
        border: 0.4em solid rgba($overlay2, 1);
        border-radius: 999em;
        &:checked {
          border: 0.4em solid rgba($sapphire, 1);
          border-radius: 999em;
        }
      }
    }
    separator {
      border: 0.1em solid rgba($surface1, 1);
      margin: 0.2em;
    }
  }
}
