box.top-bar {
  button {
    padding: 0 0.5em 0 0.5em;
  }
  font-family: $en-font;
  font-size: $font-size;
  color: rgba($text, 1);
  background-color: rgba($base, 1);
  border-width: 0 0.5em 0 0.5em;
  border-style: solid;
  border-radius: 0.5em;
  border-left-color: rgba($base, 1);
  border-right-color: rgba($surface0, 1);
}

.workspaces {
  .active {
    color: rgba($flamingo, 1);
  }
  button:hover {
    color: rgba($flamingo, 1);
  }
  font-size: 19px;
}

.player-metadata {
  font-family: $zh-font;
  &:hover {
    background-color: rgba($surface1, 1);
  }
  background-color: rgba($surface0, 1);
  box {
    padding: 0 0.7em 0 0.7em;
  }
  label {
    padding: 0 0.3em 0 0.3em;
  }
  .title {
    color: rgba($flamingo, 1);
  }
  .artist {
    color: rgba($sapphire, 1);
  }
  .status {
    color: rgba($mauve, 1);
  }
}

.top-time {
  label {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  font-family: $zh-font;
  .time {
    color: rgba($flamingo, 1);
  }
  .weekday {
    color: rgba($sapphire, 1);
  }
  .date {
    color: rgba($mauve, 1);
  }
}

.top-bar .powermenu {
  color: rgba($flamingo, 1);
  button:hover {
    color: rgba($red, 1);
  }
}